[Unit]
Description=Setting good boot entry
Wants=boot-complete.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/set_boot_entry

[Install]
WantedBy=multi-user.target
