[Unit]
Description=Setting good boot entry
ConditionPathExists=/var/lib/grub-migration-pending
Wants=boot-complete.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/set_boot_entry
ExecStartPost=/usr/bin/rm -f /var/lib/grub-migration-pending

[Install]
WantedBy=multi-user.target
